<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Note</title>
    <style>
        .body {
            background-color: #c9c9c9;
        }
        .table-style {
            margin: 25px 300px;
            font-size: 0.9em;
            font-family: sans-serif;
            box-shadow: 0 0 25px rgba(52, 53, 71, 0.616);
        }
        .table-style th {
            padding: 10px 25px;
            text-align: center;
            background-color: #000000;
        }
        .table-style td {
            padding: 5px 15px;
        }
        .table-style tbody tr {
            background-color: #060b0f;
            border-bottom: 1px solid #0c1821;
        }

        .table-style tbody tr:nth-of-type(even) {
            background-color: #0c1821;
        }

        .table-style tbody tr:last-of-type {
            border-bottom: 2px solid #ffd100;
        }
    </style>
</head>
<body class="body">
    {% include "lab4_navigation.html" %}
    <table class="table-style" style="color:rgb(211, 211, 211)">
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td> {{ note.to }} </td>
            <td> {{ note.fromNote }} </td>
            <td> {{ note.title }} </td>
            <td> {{ note.message }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

<!-- Referensi :
    https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l -->