<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <title>Note Form</title>
        <style>
            .body {
                background-color: #c9c9c9;
            }
            .table-style {
                margin: 25px 475px;
                font-size: 0.9em;
                font-family: sans-serif;
                box-shadow: 0 0 25px rgba(52, 53, 71, 0.616);
            }
            .table-style th {
                padding: 10px 25px;
                text-align: center;
                background-color: #000000;
            }
            .table-style td {
                padding: 5px 15px;
            }
            .table-style tbody tr {
                background-color: #060b0f;
                border-bottom: 1px solid #0c1821;
            }

            .table-style tbody tr:nth-of-type(even) {
                background-color: #0c1821;
            }

            .table-style tbody tr:last-of-type {
                border-bottom: 1.60px solid #ffd100;
            }
        </style>
    </head>
    <body class="body" style="color:rgb(211, 211, 211)">
        {% include "lab4_navigation.html" %}
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table-style">
                {{ form }}
            </table>
            <input type="submit" value="Submit" class="btn btn-outline" style=" margin-top: 10px; margin-left: 610px; color: rgb(211, 211, 211); background-color: black; border-color: #ffd100; box-shadow: 0 0 25px rgba(52, 53, 71, 0.616);">
        </form>
    </body>
</html>

<!-- Referensi :
    https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l -->