<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Note</title>
    <style>
        .body {
            background-color: #c9c9c9;
        }
        .card-style {
            margin: 25px 25px;
            font-size: 0.9em;
            font-family: sans-serif;
            background-color: #ffd100;
            
            box-shadow: 0 0 25px rgba(52, 53, 71, 0.616);
        }

        .card-color {
            background-color: black;
            color: rgb(211, 211, 211);
        }

        .card-title-style {
            padding-bottom: 25px;
            border-bottom: 1.5px solid #ffd100;
        }

        .card-to-from-style {
            padding-top: 10px;
            padding-bottom: 15px;
            border-bottom: 1.5px solid #ffd100;
            background-color: #060b0f;
        }

        .card-message-style {
            background-color: #0c1821;
        }
    </style>
</head>
<body class="body">
    {% include "lab4_navigation.html" %}
    <div class="row">
        {% for note in notes %}
        <div class="col-sm-3">
            <div class="card card-style">
                <div class="card-body card-color">
                    <h5 class="card-title text-center card-title-style">{{ note.title }}</h5>
                    <p class="card-text card-to-from-style">To: {{ note.to }} <br> From: {{ note.fromNote }}</p>
                    <p class="card-text card-message-style">Message: <br> {{ note.message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>