<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="3">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% for friend in friends %}
        <tr>
          <td style="padding: 5px"> {{ friend.name }} </td>
          <td style="padding: 5px"> {{ friend.npm }} </td>
          <td style="padding: 5px"> {{ friend.dob }} </td>
        </tr>
        {% endfor %}
    </table>    
  </body>
</html>