<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Friend Form</title>
    </head>
    <form action="" method="POST">
        {% csrf_token %}
        <table border="3">
            {{ form }}
        </table>
        <input type="submit" value="Submit" style='margin-top: 10px'>
    </form>
</html>