<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>
    <table border="3">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        {% for note in notes %}
        <tr>
        <td style="padding: 5px"> {{ note.to }} </td>
        <td style="padding: 5px"> {{ note.fromNote }} </td>
        <td style="padding: 5px"> {{ note.title }} </td>
        <td style="padding: 5px"> {{ note.message }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>